.container-m-none {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .row-default{
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
  }

    
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
    
    .modal-header h2 {
      margin: 0;
    }
    
    .close-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
    
    .modal-body {
      flex: 1;
      padding: 20px;
      overflow-y: auto; /* 내용이 많으면 스크롤바 표시 */
    }
    
    .modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      border-top: 1px solid #ddd;
      margin-bottom: 20px;
    }
    
    @media (min-width: 768px) { /* md 크기 이상인 화면에 대한 미디어 쿼리 */
      .modal-parent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
    
      .modal-content {
        height: 100%;
      }
    }